<!DOCTYPE html>
<html>
    <div class = "scroller">
    </div>
    <head>
        <title>SystemspecsSystemspecs</title>
    </head>
    
<nav class = "nav-bar">
    <div class = "logo-image" style = "float: left; padding-left: 115px; padding-top: 12px;">
        <img  src = "logo/Systemspes.png" class = "logo" alt = "Systemspes_Logo" 
        style = "width:100px; height: 37px;">
    </div>
    <div class = "nav-links" style= "padding-top: 19px; padding-left:850px;">
        <div class = "nav-link" style = "float: left;">
            <a href="/" >Home</a>  
        </div>
        <div class = "nav-link" style = "float: left;">
            <a href="#" class = "drop-down">About Us</a> 
            <br><br>
             <div class = "drop-down-content">
                 <div class = "drop-content" style="border-bottom: 1px solid grey;">
                     <a href = "/About-us">Who we are</a>
                 </div>
                <div class ="drop-content" style="border-bottom: 1px solid grey;">
                <a href = "/Directors">Directors</a>
                </div>
               <div class = "drop-content" style="border-bottom: 1px solid grey;">
                   <a href = "/executive-management">Executive Management</a>
               </div>
                <div class = "drop-content"  >
                    <a href = "/awards">Awards</a>
                    </div>
                
            </div>     
        </div>
        <div class = "nav-link" style = "float: left;">
            <a href="#">Our Products</a> 
             <br><br>
             <div class = "drop-down-content">
                 <div class = "drop-content" style="border-bottom: 1px solid grey;">
                     <a href = "/Remita.handlebars">Remita</a>
                 </div>
                <div class ="drop-content" style="border-bottom: 1px solid grey;">
                <a href = "/Human-Manager">HumanManager</a>
                </div>
               <div class = "drop-content" style="border-bottom: 1px solid grey;">
                   <a href = "/PayLink">PayLink</a>
               </div>
            </div>    
        </div>
        <div class = "nav-link" style = "float: left;">
            <a href="#">Training</a> 
             <br><br>
            <div class = "drop-down-content">
                 <div class = "drop-content" style="border-bottom: 1px solid grey;">
                     <a href = "/the-academy">The Academy</a>
                 </div>
                <div class ="drop-content" style="border-bottom: 1px solid grey;">
                <a href = "/training-courses">Training Courses</a>
                </div>
               <div class = "drop-content" style="border-bottom: 1px solid grey;">
                   <a href = "/training-calendar">Training Calendar</a>
               </div>        
            </div>    
        </div>
        <a  href = "#">
            <i class = "icon-search" style="padding-top: 10px;"> 
                <img src = "126466-multimedia-collection/126466-multimedia-collection/png/magnifying-glass1i.jpg" 
                     style="width:20px; height:18px; opacity: inherit;">
            </i>
        </a>
    </div>
   
</nav>
    <body>
        {{{body}}}
    </body>
    <footer>
    <div class = "footer">
        <div class = "footer-systemspecs" style = "float: left; padding-left: 80px; padding-top:20px">
            <a href = "#"><img src = "logo/Systemspes.png" style="width: 150px; height: 45px;"></a>
            <div class = "paragraph">
                <p>To be the Software Institution of <br>Reference in Africa.</p>
            </div>
        </div>
        <div class = "footer-systemspecs" style = "float: left; padding-left: 150px; padding-top: 35px;" >
            <div class = "contact">
                <h6>CONTACT US</h6>
            </div>
            <br>
            <div class = "Head-Office">
                <p><b>Head Office</b>:</p>
                <p>Plot B<sub>22,</sub> Yesufu Abiodun Oniru Road,<br>Oniru, Lagos, Nigeria.</p>
            </div>
            <br>
            <div class = "Lagos-Office">
                <p><b>Lagos-Office</b>:</p>
                <p>Floor 4-8, 136 Lewis Street,<br>Lagos, Nigeria.</p>
            </div>
            <br>
            <div class = "Abuja-Office">
                <p><b>Abuja Office</b>:</p>
                <p>3rd Floor, Labour House, CBD,<br>Abuja, Nigeria.</p>
            </div>
            <br>
            <div class = "Address">
                <p><b>Phone Numbers</b>: +234(1)2805182, (0)8035555051-2</p>
                <br>
                <p><b>Email</b>: infosystemspecs.com.ng</p>
            </div>
        </div>
        <div class = "footer-systemspecs" style="padding-top: 35px; padding-left: 400px;">
            <div class = "social-media">
                 <h6>KEEP IN TOUCH</h6>
                 <br>
            <a href = "http://www.facebook.com/SystemSpecs"><img src = "image/black_facebook.png" style="width: 40px; height: 40px;"></a>
            <a href = "http://www.twitter.com/SystemSpecsNig"><img src = "image/black_twitter.png" style="width: 40px; height:40px;"></a>
            <a href = "https://www.linkedin.com/company/systemspecs"><img src = "image/black_linkedin.png" style="width: 40px; height:40px;"></a>
            <a href = "https://www.instagram.com/systemspecsnig/"><img src = "image/black_instagram.png" style="width: 40px; height:40px;"></a>
            </div>
               
        </div>
        <div class = "clearfix"></div>
        <div class ="footer-button">
            <div class = "copyright">
                <p>copyright &copy; 2020 SystemSpecs. All Rights Reserved.</p>
            </div>
            <div class = "to-top-page">
                <a href = "#top"><img src = "126466-multimedia-collection/126466-multimedia-collection/png/up.png" 
                            style="width: 50px; height: 40px;"></a>
            </div>
        </div>
        
    </div>
</footer>
</html>