<!DOCTYPE html> 
<html>
<head>
    <title>Home-SystemSpecsSystemSpecs</title>
    <link href = "Style.css" type ="text/CSS" rel = "stylesheet" >
    <meta name = "viewport" content="width=device-width, initial-scale=5.0">
    <link href = "queries.css" type="text/css" rel = "stylesheet">
    <link href = "126466-multimedia-collection/126466-multimedia-collection/font/flaticon.css" type = "text/CSS" rel = "stylesheet">
 <!--Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->   


</head>
<body>
<header class = "header">
           
         <!-- Slideshow container -->
       <div id = "nav-bar" style = "padding-top: 30px;">
            <div class = "logo-image1" style= "float: left; padding-left: 80px;" >
                <img alt="Systemspes_Logo" src="logo/Systemspes.png" style ="width: 170px; height: 55px;"/>
            </div>
         <div class = "nav-links1" style= "display: inline-block; padding-left: 540px; ">
                <div class = "nav-link1" style= "float:left;">
                    <a href="/">Home</a>    
                </div>
                <div class = "nav-link1" style= "float:left;">
                    <a href="#">About Us</a>  
                     <br><br>
            <div class = "drop-down-content">
                 <div class = "drop-content" style="border-bottom: 1px solid grey;">
                     <a href = "/About-us">Who we are</a>
                 </div>
                <div class ="drop-content" style="border-bottom: 1px solid grey;">
                <a href = "/Directors">Directors</a>
                </div>
               <div class = "drop-content" style="border-bottom: 1px solid grey;">
                   <a href = "/executive-management">Executive Management</a>
               </div>
                <div class = "drop-content"  >
                    <a href = "/awards.handebars">Awards</a>
                 </div>
                
            </div>       
          </div>
                <div class = "nav-link1" style= "float:left;">
                     <a href="#">Our Products</a>   
                    <br><br>
             <div class = "drop-down-content">
                 <div class = "drop-content" style="border-bottom: 1px solid grey;">
                     <a href = "/Remita">Remita</a>
                 </div>
                <div class ="drop-content" style="border-bottom: 1px solid grey;">
                <a href = "/Human-Manager">HumanManager</a>
                </div>
               <div class = "drop-content" style="border-bottom: 1px solid grey;">
                   <a href = "/PayLink">PayLink</a>
               </div>
            </div> 
                </div>
                <div class = "nav-link1" style= "float:left;">
                    <a href="#">Training</a>  
                     <br><br>
            <div class = "drop-down-content">
                 <div class = "drop-content" style="border-bottom: 1px solid grey;">
                     <a href = "/the-academy">The Academy</a>
                 </div>
                <div class ="drop-content" style="border-bottom: 1px solid grey;">
                <a href = "/training-courses">Training Courses</a>
                </div>
               <div class = "drop-content" style="border-bottom: 1px solid grey;">
                   <a href = "/training-calendar">Training Calendar</a>
               </div>        
            </div>  
                </div>
                <a  href = "#">
                    <i class = "icon-search" style="padding-top: 10px;"> 
                        <img src = "126466-multimedia-collection/126466-multimedia-collection/png/magnifying-glass1ii.png" 
                             style="width:20px; height:18px; ">
                    </i>
                </a>
            </div>
           
        </div> 

    <!-- Full-width images with number and caption text -->
    <div class = "Slide" >
        <div class="mySlides fade" >
            <!--<div class="numbertext">1 / 4</div> --> 
             <div class="text"><p style="text-justify: auto;">The Foremost Provider of Innovative <br>
                 Payment and Human Capital<br>
                 Management Solutions and Services</p> <br>
              <a href = "About.html" style=" text-decoration: none;">
               <p   class = "about" style="width: 100px;height:20px; border: 1px solid white; border-radius: 20px;padding-bottom: 23px;font-size: 12px; 
                           color: white; text-align: center; padding-top: 15px;">
                   About Us
               </p>
              </a> 
              <style>
                  .about:hover{
                       background-color: grey; 
                      color: white;
                  }
                  
              </style>
               </div>
           </div>

     <div class="mySlides fade">
        <!--<div class="numbertext">2 / 4</div>-->
        <div class="text">
            <img src = "logo/about_us_remita_logo@2x.png" style="width: 45px; height:15px;"/>
            <p style="padding-bottom: 20px; text-justify: auto;">
          An electronic payment platform that<br> enables ANYONE to recieve and make<br> payments EASILY.
        </p>
        <a href = "Learn-more.html" style=" text-decoration: none;">
          <p   class = "about" style="width: 100px;height:20px;border: 1px solid white; border-radius: 20px;padding-bottom: 23px;font-size: 12px; 
                      color: white; text-align: center; padding-top: 15px;">
              Learn more
          </p>
         </a> 
      </div>
      </div>
  

    
        <div class="mySlides fade">
            <!--<div class="numbertext">3 / 4</div>-->
            <div class="text">
                <img src = "logo/hm.png" style="width: 60px; height:20px;"/>
                <p style="padding-bottom: 20px; text-justify: auto;">An innovative, intuitive and easy-to-use<br>Human Capital and Payroll Management<br>
                                  solution for organisations of all sizes and<br>structures across Africa </p>
                                 <a href = "Learn-more1.html" style=" text-decoration: none;">
                                      <p   id = "about" style="width: 100px;height:20px; border: 1px solid white; border-radius: 20px;padding-bottom: 23px;font-size: 12px; 
                                                  color: white; text-align: center; padding-top: 15px;">
                                          Learn more
                                      </p>
                                     </a>                     
          </div>
          </div>
      

    
        <div class="mySlides fade">
            <!--<div class="numbertext">4 / 4</div>-->
            <div class="text"><p style="padding-bottom: 20px; text-justify: auto;">With Our APIs. Businesses can easily integrate<br>Remita into their Website or App to recieve<br> and Make Payments</p>
            <a href = "Learn-more2.html" style=" text-decoration: none;">
                <p   class = "about" style="width: 100px;height:20px; border: 1px solid white; border-radius: 20px;padding-bottom: 23px;font-size: 12px; 
                            color: white; text-align: center; padding-top: 15px;">  Learn more </p> </a> 
           </div>
        </div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="showSlides();">&#10094;</a>
    <a class="next" onclick="showSlides()">&#10095;</a>  
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  <div class="clearfix1"></div>
  <div class = "bottom_header" >
      <div class = "more-info" style="float: left;  padding-left: 20px;" >
          <img src = "logo/about_us_remita_logo@2x.png" style="width: 45px; height:15px;"/>
          <p>...because payment should be made easy</p>
          <a href="view-more"><p style="color: white;"><b>view more</b></p></a>
      </div>
      <div class = "more-info"  style="float: left;  padding-left: 190px;">
        <img src = "logo/hm.png" style="width: 60px; height:20px;"/>
        <p>...get paid easily &amp scale</p>
        <a href="view-more"><p style="color: white;"><b>view more</b></p></a>
      </div>
    <div class = "more-info" style="float: left;  padding-left: 190px;">
        <img src = "logo/paylink.png" style="width: 60px; height:20px;"/>
        <p>...get paid easily &amp scale</p>
        <a href="view-more"><p style="color: white;"><b>view more</b></p></a>
    </div>
  </div>
</header>
<div class = "feature">
    <div class = "top">
        <p><strong>Featured</strong></p>
        <h1><b>In the news </b></h1>
    </div>
    
    
    <div class = "sub-feature">
        <div class = "top_1">
            <p>IN The NUMBERS</p>
        <h2><strong>28 years of experience</strong></h2>
        </div>
        
        <br>
        <br>
        <br>
        <div class = "popularity">
            <p style="font-size: 29px;"><b>250</b></p>
            <p>Nigerian Staff<br>
               belive in our vision </p>
        </div>
        <div class = "popularity">
            <p style="font-size: 29px;"><b>20000</b></p>
            <p>Businesses use our<br>
                products </p>
        </div>
        <div class = "popularity">
            <p style="font-size: 29px;"><b>22</b></p>
            <p>State and Federal<br>
               Govt trust our<br>
               solutions </p>
        </div>
        <div class = "popularity">
            <p style="font-size: 29px;"><b>1000000</b></p>
            <p>People enjoy our<br>
               solutions </p>
        </div>
    </div>
    <div class = "video">
        <iframe width="324" height="243" src="https://www.youtube.com/embed/QQmcwhso37I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<section class = "Partner">
    <div class="part">
        <h1><b>Some Of Our Partners</b></h1>
    </div>
    <div class = "Partners_image">
        <div class = "Partner_image" style="background-color: rgba(15, 15, 15, 0.5);" >
            <img src = "image/Access-bank.png" class= "image" alt= "Access-bank" style="height: 15px; width: auto;"/>
        </div>
        <div class = "Partner_image" >
            <img src = "image/deloitte-logo.jpg" class= "image" alt= "deloitte-logo" style="height:20px; width: auto;"/>
        </div>
        <div class = "Partner_image" style="bottom: 10px; position: relative;">
            <img src = "image/FCMB_logo_2.png" class= "image" alt= "FCMB-logo"style="height:40px; width: auto;"/>
        </div>
        <div class = "Partner_image" style="bottom: 20px; position: relative;"  >
            <img src = "image/federal_govt_logo.png" class= "image" alt= "Federal-govt-logo" style="height:60px; width: auto;"/>
        </div>
        <div class = "Partner_image">
            <img src = "image/PEFMB_LOGO.png" class= "image" alt= "PEFMB-logo" style="height:35px; width: auto;"/>
        </div>
        <div class = "Partner_image">
            <img src = "image/stanbic_ibtc_logo-1.png" class= "image" alt= "Stanbic-bank" style="height:40px; width: auto;"/>
        </div>
        <div class = "Partner_image">
            <img src = "image/mainone_logo.png" class= "image" alt= "Main-One-logo" style="height:30px; width: auto;"/>
        </div>
        <div class = "Partner_image">
            <img src = "image/faan_logo.png" class= "image" alt= "faan_logo" style="height:35px; width: auto;"/>
        </div>
        <div class = "Partner_image">
            <img src = "image/FAVPNG_kpmg-business-logo.png" class= "image" alt= "kpmg-logo" style="height:35px; width: auto;"/>
        </div>
        <div class = "Partner_image">
            <img src = "image/pngguru.com.png" class= "image" alt= "pngguru-logo" style="height:35px; width: auto;"/>
        </div>
    </div>

    <div class = "clearfix"></div>
    <div class = "slide-about">
        <div class = "myslide">
             <h6><em>Remita has revolutionlized our payment system. It has<br>transferred us several levels ahead.</em></h6>
             <span><p><b>Adefunke Sharon Kasali</b></p></span>
             <p>Executive Secretary, PEF(M)B</p>
        </div>
         <div class = "myslide">
             <h6><em>HumanManager has made our payroll processing very<br>seamless and efficient. It is easy to understand and use.</em></h6>
             <span><p><b>Martin Oso</b></p></span>
             <p>Finance Manager - British Airways</p>
       </div> 
    </div>
    
     <a id="prev" onclick="showDivs();">&#10094;</a>
    <a id="next" onclick="showDivs();">&#10095;</a> 
  <br>
</section>
<script src = "Script.js" type = "text/javascript"></script>
<script>
var prevScrollpos = window.pageYOffset;

window.onscroll = function(){
  var currentScrollPos = window.pageYOffset;
  var scroll = document.getElementsByClassName("navbar");
  if(prevScrollpos > currentScrollPos){
          scroll.style.top = "0";
  }else{
    scroll.style.top = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>

</body>
</html>